/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'Nunito';
    src: url('./assets/Nunito-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Roboto', sans-serif;
  }